{% block content %}


<br>
<br>
<br>
<br>



{{sql}}

<p>STRIPOVI</p>

    <ul>
        {% for xyz in comics %}
        <li>
            {{ xyz.ime }} , {{xyz.pravo_ime}} , godina:  {{xyz.godine}}       
        </li>
        <br>
        {% endfor %}    
    </ul>
    

{% endblock content %}